.main {
  height: 100%;
  background-color: #23142b;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 40px;

  &__title {
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-bottom: 20px;

    .online {
      width: 20px;
      height: 20px;
      background-color: red;
      border-radius: 50%;
      animation: pulse 1.5s infinite;
    }

  }

  &__body {
    overflow: hidden;
    min-height: 10vh;
    max-height: 80vh;
    padding: 30px;
    background-color: #323333;
    width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;

    .chat__input {
      padding: 20px;
      display: flex;
      gap: 20px;
      width: 100%;
      height: 10%;
      border-radius: 30px;

      input {
        width: 100%;
        height: 30px;
        border-radius: 30px;
        padding: 10px;
        border: none;
        background-color: #686565;
        color: #000000;

        &::placeholder {
          color: #000000;
        }

      }

      button {
        border: none;
        background-color: #085c4c;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
      }
    }

  }

  &__chat {
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 30px;
    flex-direction: column;

    p {
      margin: 0;
    }

    .chat__messages {
      z-index: 1;
      color: #fff;
      flex-direction: column;
      gap: 10px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      width: 100%;

      .message-recevied {
        margin-top: 10px;
        display: flex;
        border: 1px solid #494444;
        background-color: #312f2f;
        border-radius: 20px;
        padding: 20px;
        max-width: 70%;
      }

      .message-sent {
        margin-top: 5px;
        background-color: #085c4c;
        border-radius: 20px;
        padding: 20px;
        flex-wrap: wrap;
        white-space: wrap;
        max-width: 70%;
      }

      .message-sent__container {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 90%;
      }

      .message-recevied__container {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 90%;
      }

    }

  }

}



@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 0, 0, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }

}
