<div [ngStyle]="{display: sidebarState ? 'inline': 'none'}" class="sidebar__shadow" (click)="toggle()">
</div>

<div [ngStyle]="{display: sidebarState ? 'inline': 'none'}" class="sidebar">
  <div class="sidebar__header">
    <h2 class="sidebar__title">Bagaggio</h2>
    <button (click)="toggle()" class="sidebar__button" onclick="" >
      <i class="pi pi-align-justify" style="font-size: 1.5rem"></i>
    </button>
  </div>

  <div class="sidebar__content">

    <button class="link__button" (click)="navigateTo('/')">
      <div>
        <i class="pi pi-home"></i>
        <span class="btn__txt">Home</span>
      </div>
    </button>

    <button class="link__button" (click)="navigateTo('/chat')">
      <div>
        <i class="pi pi-comments"></i>
        <span class="btn__txt">LiveChat</span>
      </div>
    </button>

    <button class="link__button" (click)="navigateTo('/calc-imc')">
      <div>
        <i class="pi pi-calculator"></i>
        <span class="btn__txt">Calculadora IMC</span>
      </div>
    </button>

    <button class="link__button" (click)="navigateTo('/finances')">
      <div>
        <i class="pi pi-wallet"></i>
        <span class="btn__txt">Finanças</span>
      </div>
    </button>

    <button class="link__button" (click)="navigateTo('/organograma')">
      <div>
        <i class="pi pi-sitemap"></i>
        <span class="btn__txt">Organograma</span>
      </div>
    </button>

    <button class="link__button" (click)="navigateTo('/about')">
      <div>
        <i class="pi pi-address-book"></i>
        <span class="btn__txt">About</span>
      </div>
    </button>

  </div>
</div>
