<app-sidebar (sidebarToggle)="onToggleSidebar()" [sidebarState]="sidebarVisible"></app-sidebar>
<div class="header">
  <button (click)="onToggleSidebar()" class="header__button">
    <i class="pi pi-align-justify" style="font-size: 1.5rem"></i>
  </button>

  <div class="header__user">
    <div class="user__info">
      <div class="user__name">Kayky Rodrigues</div>
      <div class="user__role">Master</div>
    </div>
    <img class="user__img" src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg" alt="user-img">
  </div>

</div>
