<div class="main flex justify-content-center p-6 bg-black-alpha-90">

<div class="cards__container flex flex-column gap-6">

  <div class="card">
    <div class="card__content">
      <h2 class="card__title">Pergunta 1</h2>
      <p class="card__question ">Se você pudesse definir um nível de satisfação para seu ambiente de trabalho, qual seria?</p>

      <div class="card__buttons">

        <div class="select flex gap-4 justify-content-center align-items-center">
        {{value}}  <p-slider max="10" [(ngModel)]="value" class="w-full" /> 10
      </div>

      </div>

    </div>

  </div>

  <div class="card">
    <div class="card__content">
      <h2 class="card__title">Pergunta 2</h2>
      <p class="card__question ">O quão puxada você diria que é sua rotina de trabalho?</p>

      <div class="card__buttons">

        <div class="select flex gap-4 justify-content-center align-items-center">
        {{value2}}  <p-slider max="10" [(ngModel)]="value2" class="w-full" /> 10
      </div>

      </div>

    </div>

  </div>

  <div class="card">
    <div class="card__content">
      <h2 class="card__title">Pergunta 3</h2>
      <p class="card__question ">Qual sua avaliação para a estrtura fornecida no escritorio?</p>

      <div class="card__buttons">

        <p-rating stars="10" [(ngModel)]="value3" [cancel]="false" />  {{value3}}

      </div>

    </div>


  </div>

  <div class="card">
    <div class="card__content">
      <h2 class="card__title">Pergunta 4</h2>
      <p class="card__question ">Qual sua satisfação com as bonificações fornecidas?</p>

      <div class="card__buttons">

        <p-rating stars="10" [(ngModel)]="value4" [cancel]="false" /> {{value4}}

      </div>

    </div>


  </div>

  <div class="card">
    <div class="card__content">
      <h2 class="card__title">Pergunta 5 - Discursiva</h2>
      <p class="card__question ">Escreva com as suas palavras como é seu relacionamento com seu superior.</p>

      <textarea
      class="w-10 shadow-2"
      rows="10"
      cols="30"
      [autoResize]="true"
      pInputTextarea
      [(ngModel)]="value5">
    </textarea>


    </div>

  </div>

  <div class="card bg-transparent border-none button_display">

    <div class="button__display flex gap-3 align-items-center justify-content-center">

      <p-button size="large" label="Cancelar Avaliação" severity="danger" />
      <p-button size="large" label="Enviar Avaliação" severity="success" />

    </div>

  </div>



</div>
