.main__cards{
  display: flex;
  flex-direction: column;
  height: 100%;

  .card{
    display: flex;
    padding: 15px;

    .card__body{
      width: 300px;
      border-radius: 10px;
      padding: 10px;
    }
  }
}

.imgCard {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
}

.main {
  display: flex;
  padding: 33px;
  justify-content: center;
  user-select: none;
  background-color: #403f3e;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #403f3e;
    background-color: #fff;
    border-radius: 20px;
    height: 50rem;
    width: 70rem;
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;

  }

  &__cards {
    // height: 100%;
    // width: 90%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    .card {
      // display: flex;
      // height: 50%;
      // min-width: 49%;
    }


    .card__body {
      // padding: 30px;
      // display: flex;
      // flex-direction: column;
      // height: 90%;
      // justify-content: space-between;
      // color: #FFF;
      // border-radius: 20px;
      // align-items: center;
      // .circle {
      //   display: flex;
      //   justify-content: center;
      //   border-radius: 50%;
      //   padding: 30px;
      //   background-color: rgba(210, 210, 210, 0.43);
      }
    }

  }

  .normal {
    background-color: #10ac6c;
    text-align: center;
  }

  .sobrepeso {
    background-color: #e8b43c;
    text-align: center;
  }

  .obesidade {
    text-align: center;
    background-color: #c8443c;
  }

  .magreza {
    text-align: center;
    background-color: #98a4ac;
  }

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-bottom: 10px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.inputGroup {
  max-width: 20rem;
}

.inputGroup__input{
  border: 1px solid gray;
  width: 250px;
  padding-left: 5px;
}


@media (max-width: 768px) {
  .main__content {
    height: 120rem;
    display: flex;
    justify-content: center;
  }

  .main__cards {
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      display: flex;
      height: 25%;
      min-width: 80%;
      background-color: transparent;
    }

  }

}
