<div class="main">
  <div class="main__content">
    <div class="main__title">
      <h1>Calculadora de IMC</h1>
    </div>
    <div class="main__inputs">
      <p-inputGroup class="inputGroup">
        <p-inputGroupAddon>
          <span class="material-symbols-outlined">altitude</span>
        </p-inputGroupAddon>
        <input
          type="number"
          style="
            height: 40;
            width: 20rem;
            padding: 10px;
            border: 1px solid #dedddc;
          "
          pInputText
          placeholder="Altura"
        />
      </p-inputGroup>
      <p-inputGroup class="inputGroup">
        <p-inputGroupAddon>
          <span class="material-symbols-outlined">scale</span>
        </p-inputGroupAddon>
        <input
          style="
            height: 40;
            width: 20rem;
            padding: 10px;
            border: 1px solid #dedddc;
          "
          pInputText
          type="number"
          placeholder="Peso"
        />
      </p-inputGroup>
    </div>

    <div class="main__cards">


      <div class="card">
          <p-card class="w-12">
            <div class="card__body magreza">
              <h2 class="card__tittle"> Magreza </h2>

              <div class="circle">
                <i class="pi pi-thumbs-down" style="font-size: 5rem"></i>
              </div>

              <h4 class="card__description">
                IMC está entre 0 e 18.5
              </h4>
            </div>
          </p-card>
        </div>
        <div class="card">
          <p-card class="w-12">
            <div class="card__body normal">
              <h2 class="card__tittle"> Normal </h2>

              <div class="circle">
                <i class="pi pi-thumbs-up" style="font-size: 5rem"></i>
              </div>

              <h4 class="card__description">
                IMC está entre 18.6 e 24.9
              </h4>
            </div>
          </p-card>
        </div>
      <div class="card">
        <p-card class="w-12 teste">
          <div class="card__body sobrepeso">
            <h2 class="card__tittle"> Sobrepeso </h2>

            <div class="circle">
              <i class="pi pi-thumbs-down" style="font-size: 5rem"></i>
            </div>

            <h4 class="card__description">
              IMC está entre 25 e 30
            </h4>
          </div>
        </p-card>
      </div>
      <div class="card">
        <p-card  class="w-12">
          <div class="card__body obesidade">
            <h2 class="card__tittle"> Obesidade </h2>

            <div class="circle">
              <i class="pi pi-thumbs-down" style="font-size: 5rem"></i>
            </div>

            <h4 class="card__description">
              IMC está entre 30.1 e 99
            </h4>

          </div>
        </p-card>
      </div>






    </div>
  </div>
</div>
