<div class="card_container">

  <p-card header=" Objetivo da Aplicação" subheader="Aqui tem um subtitulo" [style]="{ width: '360px', bordeRadius: '10px'}">

    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
     </ng-template>

    <p class="m-1">
        Esse site tem o unico objetivo de aprender conceitos básicos de Angular.
    </p>
  </p-card>


  <p-card header=" Objetivo da Aplicação" subheader="Aqui tem um subtitulo" [style]="{ width: '360px', bordeRadius: '10px'}">

    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
     </ng-template>

    <p class="m-1">
        Esse site tem o unico objetivo de aprender conceitos básicos de Angular.
    </p>
  </p-card>

  <p-card header=" Objetivo da Aplicação" subheader="Aqui tem um subtitulo" [style]="{ width: '360px', bordeRadius: '10px'}">

    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
     </ng-template>

    <p class="m-1">
        Esse site tem o unico objetivo de aprender conceitos básicos de Angular.
    </p>
  </p-card>

</div>
