.imgCard {
  max-height: 250px;
  border-radius: 5px;
}

.card_container {
  overflow: hidden;
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: #ACADAF;
  width: 100%;
  height: 100%;
}
