@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@layer reset, primeng;

@layer reset {
  button {
    &:focus {
      box-shadow: none;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
